<template lang="pug">
div.is-2
  apollo-mutation(
    :mutation="require('@/graphql/DeckCreate.gql')",
    :variables="{ name: 'New Deck' }",
  )
    template(slot-scope="{ mutate, loading, error }")
      a(@click="mutate()")
        div.card
          div.card-header-title New Deck (+)
</template>

<script lang="ts">
import Vue from 'vue';
import { VueApolloComponentOption } from 'vue-apollo/types/options';
import { Component } from 'vue-property-decorator';
import gql from 'graphql-tag';

import store from '../store';

@Component
export default class WrDeckCreate extends Vue {
}
</script>
