<template lang="pug">
apollo-query(
  :query="require('@/graphql/UserDecks.gql')"
)
  apollo-subscribe-to-more(
    :document="require('@/graphql/DeckUpdatesOfUser.gql')"
    :updateQuery="updateDecks"
  )
  div.columns.is-multiline(slot-scope="{ result: { loading, error, data } }")
    template(v-if="data")
      div.column.is-2(v-for="deck of data.userDecks" :key="deck.id")
        a
          div.card
            div.card-header-title
              p {{ deck.name }}
    wr-deck-create.column
</template>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';
import WrDeckCreate from './WrDeckCreate.vue';

@Component({
  components: {
    WrDeckCreate,
  },
})
export default class WrDeckList extends Vue {
  private updateDecks(previousResult: any, { subscriptionData }: any) {
    if (!subscriptionData.data
      || !subscriptionData.data.deckUpdatesOfUser
      || !subscriptionData.data.deckUpdatesOfUser.mutation) {
      return previousResult;
    }
    const userDecks = [...previousResult.userDecks];
    const newResult = {
      userDecks,
    };
    const update = subscriptionData.data.deckUpdatesOfUser;
    switch (update.mutation) {
      case 'CREATED':
        userDecks.push(update.new);
        break;
      case 'UPDATED':
        const index = previousResult.userDecks.findIndex((o: any) => o.id === update.new.id);
        if (index >= 0) {
          Vue.set(userDecks, index, update.new);
        }
        break;
      case 'DELETED':
        userDecks.filter((o: any) => o.id !== update.old.id);
        break;
    }
    return newResult;
  }
}
</script>
