<template lang="pug">
  footer.footer
    div.content.has-text-centered
      p Built with ❤️ using Vue, Apollo, Yoga, Prisma (vayp👌)
</template>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';

@Component
export default class Home extends Vue {
}
</script>
