<template lang="pug">
apollo-query(:query="@/graphql/ActiveRooms.gql")
  div.columns
  div.columns.is-multiline(slot-scope="{ result: { loading, error, data } }")
    template(v-if="data")
      div.column.is-2(v-for="room of data.activeRooms" :key="room.id")
        a
          div.card
            div.card-header-title
              p {{ room.id }}
      div.column
        apollo-mutation(
          :mutation="require('@/graphql/RoomCreate.gql')",
          @done="newRoomDone"
        )
          template(slot-scope="{ mutate, loading, error }")
            a(@click="mutate()") Create Room
</template>

<script lang="ts">
import Vue from 'vue';
import { Component } from 'vue-property-decorator';
// import WrRoomCreate from './WrRoomCreate.vue';

import router from '../router';
import gql from 'graphql-tag';
// @ts-ignore
import ROOM_JOIN_MUTATION from '@/graphql/RoomJoin.gql';

@Component
export default class WrRoomList extends Vue {
  private roomId = '';

  private async newRoomDone(res: any) {
    if (res.data && res.data.roomCreate) {
      this.roomId = res.data.roomCreate.id;
      const data = await this.$apollo.mutate({
        mutation: ROOM_JOIN_MUTATION,
        variables: {
          roomId: this.roomId,
          userId: this.$store.state.currentUser.id,
        },
      });

      router.push(`room/${this.roomId}`);
    }
  }
}
</script>
