<template lang="pug">
div
  p {{ $route.params.id }}
  apollo-mutation(
    :mutation="require('@/graphql/RoomMessageCreate.gql')"
    :variables="{ roomId: $route.params.id, content: inputBar }"
    @done="sendDone"
  )
    template(slot-scope="{ mutate, loading, error }")
      p {{ response }}
      input.input.is-primary(
        v-model="inputBar"
        @keyup.enter="submit(mutate)"
        placeholder="Your message here..."
      )
</template>

<script lang="ts">
import Vue from 'vue';
import { Component, Prop } from 'vue-property-decorator';
import WrDeckCreate from './WrDeckCreate.vue';

@Component({
})
export default class WrRoomDetail extends Vue {
  private inputBar = '';
  private response = '';

  private submit(mutate: any) {
    mutate();
    this.inputBar = '';
  }
  private async sendDone(res: any) {
    this.response = res;
  }
}
</script>
