.is-adn.is-adn{color:#fff;background-color:#d87a68;border-color:rgba(0,0,0,0.2)}.is-adn.is-adn:focus,.is-adn.is-adn.focus{color:#fff;background-color:#ce563f;border-color:rgba(0,0,0,0.2)}
.is-adn.is-adn:hover{color:#fff;background-color:#ce563f;border-color:rgba(0,0,0,0.2)}
.is-adn.is-adn:active,.is-adn.is-adn.active,.open>.dropdown-toggle.is-adn.is-adn{color:#fff;background-color:#ce563f;border-color:rgba(0,0,0,0.2)}.is-adn.is-adn:active:hover,.is-adn.is-adn.active:hover,.open>.dropdown-toggle.is-adn.is-adn:hover,.is-adn.is-adn:active:focus,.is-adn.is-adn.active:focus,.open>.dropdown-toggle.is-adn.is-adn:focus,.is-adn.is-adn:active.focus,.is-adn.is-adn.active.focus,.open>.dropdown-toggle.is-adn.is-adn.focus{color:#fff;background-color:#b94630;border-color:rgba(0,0,0,0.2)}
.is-adn.is-adn:active,.is-adn.is-adn.active,.open>.dropdown-toggle.is-adn.is-adn{background-image:none}
.is-adn.is-adn.disabled:hover,.is-adn.is-adn[disabled]:hover,fieldset[disabled] .is-adn.is-adn:hover,.is-adn.is-adn.disabled:focus,.is-adn.is-adn[disabled]:focus,fieldset[disabled] .is-adn.is-adn:focus,.is-adn.is-adn.disabled.focus,.is-adn.is-adn[disabled].focus,fieldset[disabled] .is-adn.is-adn.focus{background-color:#d87a68;border-color:rgba(0,0,0,0.2)}
.is-adn.is-adn .badge{color:#d87a68;background-color:#fff}
.is-bitbucket.is-bitbucket{color:#fff;background-color:#205081;border-color:rgba(0,0,0,0.2)}.is-bitbucket.is-bitbucket:focus,.is-bitbucket.is-bitbucket.focus{color:#fff;background-color:#163758;border-color:rgba(0,0,0,0.2)}
.is-bitbucket.is-bitbucket:hover{color:#fff;background-color:#163758;border-color:rgba(0,0,0,0.2)}
.is-bitbucket.is-bitbucket:active,.is-bitbucket.is-bitbucket.active,.open>.dropdown-toggle.is-bitbucket.is-bitbucket{color:#fff;background-color:#163758;border-color:rgba(0,0,0,0.2)}.is-bitbucket.is-bitbucket:active:hover,.is-bitbucket.is-bitbucket.active:hover,.open>.dropdown-toggle.is-bitbucket.is-bitbucket:hover,.is-bitbucket.is-bitbucket:active:focus,.is-bitbucket.is-bitbucket.active:focus,.open>.dropdown-toggle.is-bitbucket.is-bitbucket:focus,.is-bitbucket.is-bitbucket:active.focus,.is-bitbucket.is-bitbucket.active.focus,.open>.dropdown-toggle.is-bitbucket.is-bitbucket.focus{color:#fff;background-color:#0f253c;border-color:rgba(0,0,0,0.2)}
.is-bitbucket.is-bitbucket:active,.is-bitbucket.is-bitbucket.active,.open>.dropdown-toggle.is-bitbucket.is-bitbucket{background-image:none}
.is-bitbucket.is-bitbucket.disabled:hover,.is-bitbucket.is-bitbucket[disabled]:hover,fieldset[disabled] .is-bitbucket.is-bitbucket:hover,.is-bitbucket.is-bitbucket.disabled:focus,.is-bitbucket.is-bitbucket[disabled]:focus,fieldset[disabled] .is-bitbucket.is-bitbucket:focus,.is-bitbucket.is-bitbucket.disabled.focus,.is-bitbucket.is-bitbucket[disabled].focus,fieldset[disabled] .is-bitbucket.is-bitbucket.focus{background-color:#205081;border-color:rgba(0,0,0,0.2)}
.is-bitbucket.is-bitbucket .badge{color:#205081;background-color:#fff}
.is-dropbox.is-dropbox{color:#fff;background-color:#1087dd;border-color:rgba(0,0,0,0.2)}.is-dropbox.is-dropbox:focus,.is-dropbox.is-dropbox.focus{color:#fff;background-color:#0d6aad;border-color:rgba(0,0,0,0.2)}
.is-dropbox.is-dropbox:hover{color:#fff;background-color:#0d6aad;border-color:rgba(0,0,0,0.2)}
.is-dropbox.is-dropbox:active,.is-dropbox.is-dropbox.active,.open>.dropdown-toggle.is-dropbox.is-dropbox{color:#fff;background-color:#0d6aad;border-color:rgba(0,0,0,0.2)}.is-dropbox.is-dropbox:active:hover,.is-dropbox.is-dropbox.active:hover,.open>.dropdown-toggle.is-dropbox.is-dropbox:hover,.is-dropbox.is-dropbox:active:focus,.is-dropbox.is-dropbox.active:focus,.open>.dropdown-toggle.is-dropbox.is-dropbox:focus,.is-dropbox.is-dropbox:active.focus,.is-dropbox.is-dropbox.active.focus,.open>.dropdown-toggle.is-dropbox.is-dropbox.focus{color:#fff;background-color:#0a568c;border-color:rgba(0,0,0,0.2)}
.is-dropbox.is-dropbox:active,.is-dropbox.is-dropbox.active,.open>.dropdown-toggle.is-dropbox.is-dropbox{background-image:none}
.is-dropbox.is-dropbox.disabled:hover,.is-dropbox.is-dropbox[disabled]:hover,fieldset[disabled] .is-dropbox.is-dropbox:hover,.is-dropbox.is-dropbox.disabled:focus,.is-dropbox.is-dropbox[disabled]:focus,fieldset[disabled] .is-dropbox.is-dropbox:focus,.is-dropbox.is-dropbox.disabled.focus,.is-dropbox.is-dropbox[disabled].focus,fieldset[disabled] .is-dropbox.is-dropbox.focus{background-color:#1087dd;border-color:rgba(0,0,0,0.2)}
.is-dropbox.is-dropbox .badge{color:#1087dd;background-color:#fff}
.is-facebook.is-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.is-facebook.is-facebook:focus,.is-facebook.is-facebook.focus{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.is-facebook.is-facebook:hover{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.is-facebook.is-facebook:active,.is-facebook.is-facebook.active,.open>.dropdown-toggle.is-facebook.is-facebook{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}.is-facebook.is-facebook:active:hover,.is-facebook.is-facebook.active:hover,.open>.dropdown-toggle.is-facebook.is-facebook:hover,.is-facebook.is-facebook:active:focus,.is-facebook.is-facebook.active:focus,.open>.dropdown-toggle.is-facebook.is-facebook:focus,.is-facebook.is-facebook:active.focus,.is-facebook.is-facebook.active.focus,.open>.dropdown-toggle.is-facebook.is-facebook.focus{color:#fff;background-color:#23345a;border-color:rgba(0,0,0,0.2)}
.is-facebook.is-facebook:active,.is-facebook.is-facebook.active,.open>.dropdown-toggle.is-facebook.is-facebook{background-image:none}
.is-facebook.is-facebook.disabled:hover,.is-facebook.is-facebook[disabled]:hover,fieldset[disabled] .is-facebook.is-facebook:hover,.is-facebook.is-facebook.disabled:focus,.is-facebook.is-facebook[disabled]:focus,fieldset[disabled] .is-facebook.is-facebook:focus,.is-facebook.is-facebook.disabled.focus,.is-facebook.is-facebook[disabled].focus,fieldset[disabled] .is-facebook.is-facebook.focus{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.is-facebook.is-facebook .badge{color:#3b5998;background-color:#fff}
.is-flickr.is-flickr{color:#fff;background-color:#ff0084;border-color:rgba(0,0,0,0.2)}.is-flickr.is-flickr:focus,.is-flickr.is-flickr.focus{color:#fff;background-color:#cc006a;border-color:rgba(0,0,0,0.2)}
.is-flickr.is-flickr:hover{color:#fff;background-color:#cc006a;border-color:rgba(0,0,0,0.2)}
.is-flickr.is-flickr:active,.is-flickr.is-flickr.active,.open>.dropdown-toggle.is-flickr.is-flickr{color:#fff;background-color:#cc006a;border-color:rgba(0,0,0,0.2)}.is-flickr.is-flickr:active:hover,.is-flickr.is-flickr.active:hover,.open>.dropdown-toggle.is-flickr.is-flickr:hover,.is-flickr.is-flickr:active:focus,.is-flickr.is-flickr.active:focus,.open>.dropdown-toggle.is-flickr.is-flickr:focus,.is-flickr.is-flickr:active.focus,.is-flickr.is-flickr.active.focus,.open>.dropdown-toggle.is-flickr.is-flickr.focus{color:#fff;background-color:#a80057;border-color:rgba(0,0,0,0.2)}
.is-flickr.is-flickr:active,.is-flickr.is-flickr.active,.open>.dropdown-toggle.is-flickr.is-flickr{background-image:none}
.is-flickr.is-flickr.disabled:hover,.is-flickr.is-flickr[disabled]:hover,fieldset[disabled] .is-flickr.is-flickr:hover,.is-flickr.is-flickr.disabled:focus,.is-flickr.is-flickr[disabled]:focus,fieldset[disabled] .is-flickr.is-flickr:focus,.is-flickr.is-flickr.disabled.focus,.is-flickr.is-flickr[disabled].focus,fieldset[disabled] .is-flickr.is-flickr.focus{background-color:#ff0084;border-color:rgba(0,0,0,0.2)}
.is-flickr.is-flickr .badge{color:#ff0084;background-color:#fff}
.is-foursquare.is-foursquare{color:#fff;background-color:#f94877;border-color:rgba(0,0,0,0.2)}.is-foursquare.is-foursquare:focus,.is-foursquare.is-foursquare.focus{color:#fff;background-color:#f71752;border-color:rgba(0,0,0,0.2)}
.is-foursquare.is-foursquare:hover{color:#fff;background-color:#f71752;border-color:rgba(0,0,0,0.2)}
.is-foursquare.is-foursquare:active,.is-foursquare.is-foursquare.active,.open>.dropdown-toggle.is-foursquare.is-foursquare{color:#fff;background-color:#f71752;border-color:rgba(0,0,0,0.2)}.is-foursquare.is-foursquare:active:hover,.is-foursquare.is-foursquare.active:hover,.open>.dropdown-toggle.is-foursquare.is-foursquare:hover,.is-foursquare.is-foursquare:active:focus,.is-foursquare.is-foursquare.active:focus,.open>.dropdown-toggle.is-foursquare.is-foursquare:focus,.is-foursquare.is-foursquare:active.focus,.is-foursquare.is-foursquare.active.focus,.open>.dropdown-toggle.is-foursquare.is-foursquare.focus{color:#fff;background-color:#e30742;border-color:rgba(0,0,0,0.2)}
.is-foursquare.is-foursquare:active,.is-foursquare.is-foursquare.active,.open>.dropdown-toggle.is-foursquare.is-foursquare{background-image:none}
.is-foursquare.is-foursquare.disabled:hover,.is-foursquare.is-foursquare[disabled]:hover,fieldset[disabled] .is-foursquare.is-foursquare:hover,.is-foursquare.is-foursquare.disabled:focus,.is-foursquare.is-foursquare[disabled]:focus,fieldset[disabled] .is-foursquare.is-foursquare:focus,.is-foursquare.is-foursquare.disabled.focus,.is-foursquare.is-foursquare[disabled].focus,fieldset[disabled] .is-foursquare.is-foursquare.focus{background-color:#f94877;border-color:rgba(0,0,0,0.2)}
.is-foursquare.is-foursquare .badge{color:#f94877;background-color:#fff}
.is-github.is-github{color:#fff;background-color:#444;border-color:rgba(0,0,0,0.2)}.is-github.is-github:focus,.is-github.is-github.focus{color:#fff;background-color:#2b2b2b;border-color:rgba(0,0,0,0.2)}
.is-github.is-github:hover{color:#fff;background-color:#2b2b2b;border-color:rgba(0,0,0,0.2)}
.is-github.is-github:active,.is-github.is-github.active,.open>.dropdown-toggle.is-github.is-github{color:#fff;background-color:#2b2b2b;border-color:rgba(0,0,0,0.2)}.is-github.is-github:active:hover,.is-github.is-github.active:hover,.open>.dropdown-toggle.is-github.is-github:hover,.is-github.is-github:active:focus,.is-github.is-github.active:focus,.open>.dropdown-toggle.is-github.is-github:focus,.is-github.is-github:active.focus,.is-github.is-github.active.focus,.open>.dropdown-toggle.is-github.is-github.focus{color:#fff;background-color:#191919;border-color:rgba(0,0,0,0.2)}
.is-github.is-github:active,.is-github.is-github.active,.open>.dropdown-toggle.is-github.is-github{background-image:none}
.is-github.is-github.disabled:hover,.is-github.is-github[disabled]:hover,fieldset[disabled] .is-github.is-github:hover,.is-github.is-github.disabled:focus,.is-github.is-github[disabled]:focus,fieldset[disabled] .is-github.is-github:focus,.is-github.is-github.disabled.focus,.is-github.is-github[disabled].focus,fieldset[disabled] .is-github.is-github.focus{background-color:#444;border-color:rgba(0,0,0,0.2)}
.is-github.is-github .badge{color:#444;background-color:#fff}
.is-google.is-google{color:#fff;background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}.is-google.is-google:focus,.is-google.is-google.focus{color:#fff;background-color:#c23321;border-color:rgba(0,0,0,0.2)}
.is-google.is-google:hover{color:#fff;background-color:#c23321;border-color:rgba(0,0,0,0.2)}
.is-google.is-google:active,.is-google.is-google.active,.open>.dropdown-toggle.is-google.is-google{color:#fff;background-color:#c23321;border-color:rgba(0,0,0,0.2)}.is-google.is-google:active:hover,.is-google.is-google.active:hover,.open>.dropdown-toggle.is-google.is-google:hover,.is-google.is-google:active:focus,.is-google.is-google.active:focus,.open>.dropdown-toggle.is-google.is-google:focus,.is-google.is-google:active.focus,.is-google.is-google.active.focus,.open>.dropdown-toggle.is-google.is-google.focus{color:#fff;background-color:#a32b1c;border-color:rgba(0,0,0,0.2)}
.is-google.is-google:active,.is-google.is-google.active,.open>.dropdown-toggle.is-google.is-google{background-image:none}
.is-google.is-google.disabled:hover,.is-google.is-google[disabled]:hover,fieldset[disabled] .is-google.is-google:hover,.is-google.is-google.disabled:focus,.is-google.is-google[disabled]:focus,fieldset[disabled] .is-google.is-google:focus,.is-google.is-google.disabled.focus,.is-google.is-google[disabled].focus,fieldset[disabled] .is-google.is-google.focus{background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}
.is-google.is-google .badge{color:#dd4b39;background-color:#fff}
.is-instagram.is-instagram{color:#fff;background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);border-color:rgba(0,0,0,0.2)}.is-instagram.is-instagram:focus,.is-instagram.is-instagram.focus{color:#fff;background-color:#305777;border-color:rgba(0,0,0,0.2)}
.is-instagram.is-instagram:hover{color:#fff;background:#e6683c;border-color:rgba(0,0,0,0.2)}
.is-instagram.is-instagram:active,.is-instagram.is-instagram.active,.open>.dropdown-toggle.is-instagram.is-instagram{color:#fff;background-color:#ce3906;border-color:rgba(0,0,0,0.2)}.is-instagram.is-instagram:active:hover,.is-instagram.is-instagram.active:hover,.open>.dropdown-toggle.is-instagram.is-instagram:hover,.is-instagram.is-instagram:active:focus,.is-instagram.is-instagram.active:focus,.open>.dropdown-toggle.is-instagram.is-instagram:focus,.is-instagram.is-instagram:active.focus,.is-instagram.is-instagram.active.focus,.open>.dropdown-toggle.is-instagram.is-instagram.focus{color:#fff;background-color:#d10869;border-color:rgba(0,0,0,0.2)}
.is-instagram.is-instagram:active,.is-instagram.is-instagram.active,.open>.dropdown-toggle.is-instagram.is-instagram{background-image:none}
.is-instagram.is-instagram.disabled:hover,.is-instagram.is-instagram[disabled]:hover,fieldset[disabled] .is-instagram.is-instagram:hover,.is-instagram.is-instagram.disabled:focus,.is-instagram.is-instagram[disabled]:focus,fieldset[disabled] .is-instagram.is-instagram:focus,.is-instagram.is-instagram.disabled.focus,.is-instagram.is-instagram[disabled].focus,fieldset[disabled] .is-instagram.is-instagram.focus{background-color:#ce3906;border-color:rgba(0,0,0,0.2)}
.is-instagram.is-instagram .badge{color:#3f729b;background-color:#fff}
.is-linkedin.is-linkedin{color:#fff;background-color:#007bb6;border-color:rgba(0,0,0,0.2)}.is-linkedin.is-linkedin:focus,.is-linkedin.is-linkedin.focus{color:#fff;background-color:#005983;border-color:rgba(0,0,0,0.2)}
.is-linkedin.is-linkedin:hover{color:#fff;background-color:#005983;border-color:rgba(0,0,0,0.2)}
.is-linkedin.is-linkedin:active,.is-linkedin.is-linkedin.active,.open>.dropdown-toggle.is-linkedin.is-linkedin{color:#fff;background-color:#005983;border-color:rgba(0,0,0,0.2)}.is-linkedin.is-linkedin:active:hover,.is-linkedin.is-linkedin.active:hover,.open>.dropdown-toggle.is-linkedin.is-linkedin:hover,.is-linkedin.is-linkedin:active:focus,.is-linkedin.is-linkedin.active:focus,.open>.dropdown-toggle.is-linkedin.is-linkedin:focus,.is-linkedin.is-linkedin:active.focus,.is-linkedin.is-linkedin.active.focus,.open>.dropdown-toggle.is-linkedin.is-linkedin.focus{color:#fff;background-color:#00405f;border-color:rgba(0,0,0,0.2)}
.is-linkedin.is-linkedin:active,.is-linkedin.is-linkedin.active,.open>.dropdown-toggle.is-linkedin.is-linkedin{background-image:none}
.is-linkedin.is-linkedin.disabled:hover,.is-linkedin.is-linkedin[disabled]:hover,fieldset[disabled] .is-linkedin.is-linkedin:hover,.is-linkedin.is-linkedin.disabled:focus,.is-linkedin.is-linkedin[disabled]:focus,fieldset[disabled] .is-linkedin.is-linkedin:focus,.is-linkedin.is-linkedin.disabled.focus,.is-linkedin.is-linkedin[disabled].focus,fieldset[disabled] .is-linkedin.is-linkedin.focus{background-color:#007bb6;border-color:rgba(0,0,0,0.2)}
.is-linkedin.is-linkedin .badge{color:#007bb6;background-color:#fff}
.is-microsoft.is-microsoft{color:#fff;background-color:#2672ec;border-color:rgba(0,0,0,0.2)}.is-microsoft.is-microsoft:focus,.is-microsoft.is-microsoft.focus{color:#fff;background-color:#125acd;border-color:rgba(0,0,0,0.2)}
.is-microsoft.is-microsoft:hover{color:#fff;background-color:#125acd;border-color:rgba(0,0,0,0.2)}
.is-microsoft.is-microsoft:active,.is-microsoft.is-microsoft.active,.open>.dropdown-toggle.is-microsoft.is-microsoft{color:#fff;background-color:#125acd;border-color:rgba(0,0,0,0.2)}.is-microsoft.is-microsoft:active:hover,.is-microsoft.is-microsoft.active:hover,.open>.dropdown-toggle.is-microsoft.is-microsoft:hover,.is-microsoft.is-microsoft:active:focus,.is-microsoft.is-microsoft.active:focus,.open>.dropdown-toggle.is-microsoft.is-microsoft:focus,.is-microsoft.is-microsoft:active.focus,.is-microsoft.is-microsoft.active.focus,.open>.dropdown-toggle.is-microsoft.is-microsoft.focus{color:#fff;background-color:#0f4bac;border-color:rgba(0,0,0,0.2)}
.is-microsoft.is-microsoft:active,.is-microsoft.is-microsoft.active,.open>.dropdown-toggle.is-microsoft.is-microsoft{background-image:none}
.is-microsoft.is-microsoft.disabled:hover,.is-microsoft.is-microsoft[disabled]:hover,fieldset[disabled] .is-microsoft.is-microsoft:hover,.is-microsoft.is-microsoft.disabled:focus,.is-microsoft.is-microsoft[disabled]:focus,fieldset[disabled] .is-microsoft.is-microsoft:focus,.is-microsoft.is-microsoft.disabled.focus,.is-microsoft.is-microsoft[disabled].focus,fieldset[disabled] .is-microsoft.is-microsoft.focus{background-color:#2672ec;border-color:rgba(0,0,0,0.2)}
.is-microsoft.is-microsoft .badge{color:#2672ec;background-color:#fff}
.is-odnoklassniki.is-odnoklassniki{color:#fff;background-color:#f4731c;border-color:rgba(0,0,0,0.2)}.is-odnoklassniki.is-odnoklassniki:focus,.is-odnoklassniki.is-odnoklassniki.focus{color:#fff;background-color:#d35b0a;border-color:rgba(0,0,0,0.2)}
.is-odnoklassniki.is-odnoklassniki:hover{color:#fff;background-color:#d35b0a;border-color:rgba(0,0,0,0.2)}
.is-odnoklassniki.is-odnoklassniki:active,.is-odnoklassniki.is-odnoklassniki.active,.open>.dropdown-toggle.is-odnoklassniki.is-odnoklassniki{color:#fff;background-color:#d35b0a;border-color:rgba(0,0,0,0.2)}.is-odnoklassniki.is-odnoklassniki:active:hover,.is-odnoklassniki.is-odnoklassniki.active:hover,.open>.dropdown-toggle.is-odnoklassniki.is-odnoklassniki:hover,.is-odnoklassniki.is-odnoklassniki:active:focus,.is-odnoklassniki.is-odnoklassniki.active:focus,.open>.dropdown-toggle.is-odnoklassniki.is-odnoklassniki:focus,.is-odnoklassniki.is-odnoklassniki:active.focus,.is-odnoklassniki.is-odnoklassniki.active.focus,.open>.dropdown-toggle.is-odnoklassniki.is-odnoklassniki.focus{color:#fff;background-color:#b14c09;border-color:rgba(0,0,0,0.2)}
.is-odnoklassniki.is-odnoklassniki:active,.is-odnoklassniki.is-odnoklassniki.active,.open>.dropdown-toggle.is-odnoklassniki.is-odnoklassniki{background-image:none}
.is-odnoklassniki.is-odnoklassniki.disabled:hover,.is-odnoklassniki.is-odnoklassniki[disabled]:hover,fieldset[disabled] .is-odnoklassniki.is-odnoklassniki:hover,.is-odnoklassniki.is-odnoklassniki.disabled:focus,.is-odnoklassniki.is-odnoklassniki[disabled]:focus,fieldset[disabled] .is-odnoklassniki.is-odnoklassniki:focus,.is-odnoklassniki.is-odnoklassniki.disabled.focus,.is-odnoklassniki.is-odnoklassniki[disabled].focus,fieldset[disabled] .is-odnoklassniki.is-odnoklassniki.focus{background-color:#f4731c;border-color:rgba(0,0,0,0.2)}
.is-odnoklassniki.is-odnoklassniki .badge{color:#f4731c;background-color:#fff}
.is-openid.is-openid{color:#fff;background-color:#f7931e;border-color:rgba(0,0,0,0.2)}.is-openid.is-openid:focus,.is-openid.is-openid.focus{color:#fff;background-color:#da7908;border-color:rgba(0,0,0,0.2)}
.is-openid.is-openid:hover{color:#fff;background-color:#da7908;border-color:rgba(0,0,0,0.2)}
.is-openid.is-openid:active,.is-openid.is-openid.active,.open>.dropdown-toggle.is-openid.is-openid{color:#fff;background-color:#da7908;border-color:rgba(0,0,0,0.2)}.is-openid.is-openid:active:hover,.is-openid.is-openid.active:hover,.open>.dropdown-toggle.is-openid.is-openid:hover,.is-openid.is-openid:active:focus,.is-openid.is-openid.active:focus,.open>.dropdown-toggle.is-openid.is-openid:focus,.is-openid.is-openid:active.focus,.is-openid.is-openid.active.focus,.open>.dropdown-toggle.is-openid.is-openid.focus{color:#fff;background-color:#b86607;border-color:rgba(0,0,0,0.2)}
.is-openid.is-openid:active,.is-openid.is-openid.active,.open>.dropdown-toggle.is-openid.is-openid{background-image:none}
.is-openid.is-openid.disabled:hover,.is-openid.is-openid[disabled]:hover,fieldset[disabled] .is-openid.is-openid:hover,.is-openid.is-openid.disabled:focus,.is-openid.is-openid[disabled]:focus,fieldset[disabled] .is-openid.is-openid:focus,.is-openid.is-openid.disabled.focus,.is-openid.is-openid[disabled].focus,fieldset[disabled] .is-openid.is-openid.focus{background-color:#f7931e;border-color:rgba(0,0,0,0.2)}
.is-openid.is-openid .badge{color:#f7931e;background-color:#fff}
.is-pinterest.is-pinterest{color:#fff;background-color:#cb2027;border-color:rgba(0,0,0,0.2)}.is-pinterest.is-pinterest:focus,.is-pinterest.is-pinterest.focus{color:#fff;background-color:#9f191f;border-color:rgba(0,0,0,0.2)}
.is-pinterest.is-pinterest:hover{color:#fff;background-color:#9f191f;border-color:rgba(0,0,0,0.2)}
.is-pinterest.is-pinterest:active,.is-pinterest.is-pinterest.active,.open>.dropdown-toggle.is-pinterest.is-pinterest{color:#fff;background-color:#9f191f;border-color:rgba(0,0,0,0.2)}.is-pinterest.is-pinterest:active:hover,.is-pinterest.is-pinterest.active:hover,.open>.dropdown-toggle.is-pinterest.is-pinterest:hover,.is-pinterest.is-pinterest:active:focus,.is-pinterest.is-pinterest.active:focus,.open>.dropdown-toggle.is-pinterest.is-pinterest:focus,.is-pinterest.is-pinterest:active.focus,.is-pinterest.is-pinterest.active.focus,.open>.dropdown-toggle.is-pinterest.is-pinterest.focus{color:#fff;background-color:#801419;border-color:rgba(0,0,0,0.2)}
.is-pinterest.is-pinterest:active,.is-pinterest.is-pinterest.active,.open>.dropdown-toggle.is-pinterest.is-pinterest{background-image:none}
.is-pinterest.is-pinterest.disabled:hover,.is-pinterest.is-pinterest[disabled]:hover,fieldset[disabled] .is-pinterest.is-pinterest:hover,.is-pinterest.is-pinterest.disabled:focus,.is-pinterest.is-pinterest[disabled]:focus,fieldset[disabled] .is-pinterest.is-pinterest:focus,.is-pinterest.is-pinterest.disabled.focus,.is-pinterest.is-pinterest[disabled].focus,fieldset[disabled] .is-pinterest.is-pinterest.focus{background-color:#cb2027;border-color:rgba(0,0,0,0.2)}
.is-pinterest.is-pinterest .badge{color:#cb2027;background-color:#fff}
.is-reddit.is-reddit{color:#FFF;background-color:#FF5700;border-color:rgba(0,0,0,0.2)}.is-reddit.is-reddit:focus,.is-reddit.is-reddit.focus{color:#FFF;background-color:#FF5700;border-color:rgba(0,0,0,0.2)}
.is-reddit.is-reddit:hover{color:#fff;background-color:#c40;border-color:rgba(0,0,0,0.2)}
.is-reddit.is-reddit:active,.is-reddit.is-reddit.active,.open>.dropdown-toggle.is-reddit.is-reddit{color:#000;background-color:#bcddff;border-color:rgba(0,0,0,0.2)}.is-reddit.is-reddit:active:hover,.is-reddit.is-reddit.active:hover,.open>.dropdown-toggle.is-reddit.is-reddit:hover,.is-reddit.is-reddit:active:focus,.is-reddit.is-reddit.active:focus,.open>.dropdown-toggle.is-reddit.is-reddit:focus,.is-reddit.is-reddit:active.focus,.is-reddit.is-reddit.active.focus,.open>.dropdown-toggle.is-reddit.is-reddit.focus{color:#000;background-color:#98ccff;border-color:rgba(0,0,0,0.2)}
.is-reddit.is-reddit:active,.is-reddit.is-reddit.active,.open>.dropdown-toggle.is-reddit.is-reddit{background-image:none}
.is-reddit.is-reddit.disabled:hover,.is-reddit.is-reddit[disabled]:hover,fieldset[disabled] .is-reddit.is-reddit:hover,.is-reddit.is-reddit.disabled:focus,.is-reddit.is-reddit[disabled]:focus,fieldset[disabled] .is-reddit.is-reddit:focus,.is-reddit.is-reddit.disabled.focus,.is-reddit.is-reddit[disabled].focus,fieldset[disabled] .is-reddit.is-reddit.focus{background-color:#eff7ff;border-color:rgba(0,0,0,0.2)}
.is-reddit.is-reddit .badge{color:#eff7ff;background-color:#000}
.is-soundcloud.is-soundcloud{color:#fff;background-color:#f50;border-color:rgba(0,0,0,0.2)}.is-soundcloud.is-soundcloud:focus,.is-soundcloud.is-soundcloud.focus{color:#fff;background-color:#c40;border-color:rgba(0,0,0,0.2)}
.is-soundcloud.is-soundcloud:hover{color:#fff;background-color:#c40;border-color:rgba(0,0,0,0.2)}
.is-soundcloud.is-soundcloud:active,.is-soundcloud.is-soundcloud.active,.open>.dropdown-toggle.is-soundcloud.is-soundcloud{color:#fff;background-color:#c40;border-color:rgba(0,0,0,0.2)}.is-soundcloud.is-soundcloud:active:hover,.is-soundcloud.is-soundcloud.active:hover,.open>.dropdown-toggle.is-soundcloud.is-soundcloud:hover,.is-soundcloud.is-soundcloud:active:focus,.is-soundcloud.is-soundcloud.active:focus,.open>.dropdown-toggle.is-soundcloud.is-soundcloud:focus,.is-soundcloud.is-soundcloud:active.focus,.is-soundcloud.is-soundcloud.active.focus,.open>.dropdown-toggle.is-soundcloud.is-soundcloud.focus{color:#fff;background-color:#a83800;border-color:rgba(0,0,0,0.2)}
.is-soundcloud.is-soundcloud:active,.is-soundcloud.is-soundcloud.active,.open>.dropdown-toggle.is-soundcloud.is-soundcloud{background-image:none}
.is-soundcloud.is-soundcloud.disabled:hover,.is-soundcloud.is-soundcloud[disabled]:hover,fieldset[disabled] .is-soundcloud.is-soundcloud:hover,.is-soundcloud.is-soundcloud.disabled:focus,.is-soundcloud.is-soundcloud[disabled]:focus,fieldset[disabled] .is-soundcloud.is-soundcloud:focus,.is-soundcloud.is-soundcloud.disabled.focus,.is-soundcloud.is-soundcloud[disabled].focus,fieldset[disabled] .is-soundcloud.is-soundcloud.focus{background-color:#f50;border-color:rgba(0,0,0,0.2)}
.is-soundcloud.is-soundcloud .badge{color:#f50;background-color:#fff}
.is-tumblr.is-tumblr{color:#fff;background-color:#2c4762;border-color:rgba(0,0,0,0.2)}.is-tumblr.is-tumblr:focus,.is-tumblr.is-tumblr.focus{color:#fff;background-color:#1c2d3f;border-color:rgba(0,0,0,0.2)}
.is-tumblr.is-tumblr:hover{color:#fff;background-color:#1c2d3f;border-color:rgba(0,0,0,0.2)}
.is-tumblr.is-tumblr:active,.is-tumblr.is-tumblr.active,.open>.dropdown-toggle.is-tumblr.is-tumblr{color:#fff;background-color:#1c2d3f;border-color:rgba(0,0,0,0.2)}.is-tumblr.is-tumblr:active:hover,.is-tumblr.is-tumblr.active:hover,.open>.dropdown-toggle.is-tumblr.is-tumblr:hover,.is-tumblr.is-tumblr:active:focus,.is-tumblr.is-tumblr.active:focus,.open>.dropdown-toggle.is-tumblr.is-tumblr:focus,.is-tumblr.is-tumblr:active.focus,.is-tumblr.is-tumblr.active.focus,.open>.dropdown-toggle.is-tumblr.is-tumblr.focus{color:#fff;background-color:#111c26;border-color:rgba(0,0,0,0.2)}
.is-tumblr.is-tumblr:active,.is-tumblr.is-tumblr.active,.open>.dropdown-toggle.is-tumblr.is-tumblr{background-image:none}
.is-tumblr.is-tumblr.disabled:hover,.is-tumblr.is-tumblr[disabled]:hover,fieldset[disabled] .is-tumblr.is-tumblr:hover,.is-tumblr.is-tumblr.disabled:focus,.is-tumblr.is-tumblr[disabled]:focus,fieldset[disabled] .is-tumblr.is-tumblr:focus,.is-tumblr.is-tumblr.disabled.focus,.is-tumblr.is-tumblr[disabled].focus,fieldset[disabled] .is-tumblr.is-tumblr.focus{background-color:#2c4762;border-color:rgba(0,0,0,0.2)}
.is-tumblr.is-tumblr .badge{color:#2c4762;background-color:#fff}
.is-twitter.is-twitter{color:#fff;background-color:#55acee;border-color:rgba(0,0,0,0.2)}.is-twitter.is-twitter:focus,.is-twitter.is-twitter.focus{color:#fff;background-color:#2795e9;border-color:rgba(0,0,0,0.2)}
.is-twitter.is-twitter:hover{color:#fff;background-color:#2795e9;border-color:rgba(0,0,0,0.2)}
.is-twitter.is-twitter:active,.is-twitter.is-twitter.active,.open>.dropdown-toggle.is-twitter.is-twitter{color:#fff;background-color:#2795e9;border-color:rgba(0,0,0,0.2)}.is-twitter.is-twitter:active:hover,.is-twitter.is-twitter.active:hover,.open>.dropdown-toggle.is-twitter.is-twitter:hover,.is-twitter.is-twitter:active:focus,.is-twitter.is-twitter.active:focus,.open>.dropdown-toggle.is-twitter.is-twitter:focus,.is-twitter.is-twitter:active.focus,.is-twitter.is-twitter.active.focus,.open>.dropdown-toggle.is-twitter.is-twitter.focus{color:#fff;background-color:#1583d7;border-color:rgba(0,0,0,0.2)}
.is-twitter.is-twitter:active,.is-twitter.is-twitter.active,.open>.dropdown-toggle.is-twitter.is-twitter{background-image:none}
.is-twitter.is-twitter.disabled:hover,.is-twitter.is-twitter[disabled]:hover,fieldset[disabled] .is-twitter.is-twitter:hover,.is-twitter.is-twitter.disabled:focus,.is-twitter.is-twitter[disabled]:focus,fieldset[disabled] .is-twitter.is-twitter:focus,.is-twitter.is-twitter.disabled.focus,.is-twitter.is-twitter[disabled].focus,fieldset[disabled] .is-twitter.is-twitter.focus{background-color:#55acee;border-color:rgba(0,0,0,0.2)}
.is-twitter.is-twitter .badge{color:#55acee;background-color:#fff}
.is-vimeo.is-vimeo{color:#fff;background-color:#1ab7ea;border-color:rgba(0,0,0,0.2)}.is-vimeo.is-vimeo:focus,.is-vimeo.is-vimeo.focus{color:#fff;background-color:#1295bf;border-color:rgba(0,0,0,0.2)}
.is-vimeo.is-vimeo:hover{color:#fff;background-color:#1295bf;border-color:rgba(0,0,0,0.2)}
.is-vimeo.is-vimeo:active,.is-vimeo.is-vimeo.active,.open>.dropdown-toggle.is-vimeo.is-vimeo{color:#fff;background-color:#1295bf;border-color:rgba(0,0,0,0.2)}.is-vimeo.is-vimeo:active:hover,.is-vimeo.is-vimeo.active:hover,.open>.dropdown-toggle.is-vimeo.is-vimeo:hover,.is-vimeo.is-vimeo:active:focus,.is-vimeo.is-vimeo.active:focus,.open>.dropdown-toggle.is-vimeo.is-vimeo:focus,.is-vimeo.is-vimeo:active.focus,.is-vimeo.is-vimeo.active.focus,.open>.dropdown-toggle.is-vimeo.is-vimeo.focus{color:#fff;background-color:#0f7b9f;border-color:rgba(0,0,0,0.2)}
.is-vimeo.is-vimeo:active,.is-vimeo.is-vimeo.active,.open>.dropdown-toggle.is-vimeo.is-vimeo{background-image:none}
.is-vimeo.is-vimeo.disabled:hover,.is-vimeo.is-vimeo[disabled]:hover,fieldset[disabled] .is-vimeo.is-vimeo:hover,.is-vimeo.is-vimeo.disabled:focus,.is-vimeo.is-vimeo[disabled]:focus,fieldset[disabled] .is-vimeo.is-vimeo:focus,.is-vimeo.is-vimeo.disabled.focus,.is-vimeo.is-vimeo[disabled].focus,fieldset[disabled] .is-vimeo.is-vimeo.focus{background-color:#1ab7ea;border-color:rgba(0,0,0,0.2)}
.is-vimeo.is-vimeo .badge{color:#1ab7ea;background-color:#fff}
.is-vk.is-vk{color:#fff;background-color:#587ea3;border-color:rgba(0,0,0,0.2)}.is-vk.is-vk:focus,.is-vk.is-vk.focus{color:#fff;background-color:#466482;border-color:rgba(0,0,0,0.2)}
.is-vk.is-vk:hover{color:#fff;background-color:#466482;border-color:rgba(0,0,0,0.2)}
.is-vk.is-vk:active,.is-vk.is-vk.active,.open>.dropdown-toggle.is-vk.is-vk{color:#fff;background-color:#466482;border-color:rgba(0,0,0,0.2)}.is-vk.is-vk:active:hover,.is-vk.is-vk.active:hover,.open>.dropdown-toggle.is-vk.is-vk:hover,.is-vk.is-vk:active:focus,.is-vk.is-vk.active:focus,.open>.dropdown-toggle.is-vk.is-vk:focus,.is-vk.is-vk:active.focus,.is-vk.is-vk.active.focus,.open>.dropdown-toggle.is-vk.is-vk.focus{color:#fff;background-color:#3a526b;border-color:rgba(0,0,0,0.2)}
.is-vk.is-vk:active,.is-vk.is-vk.active,.open>.dropdown-toggle.is-vk.is-vk{background-image:none}
.is-vk.is-vk.disabled:hover,.is-vk.is-vk[disabled]:hover,fieldset[disabled] .is-vk.is-vk:hover,.is-vk.is-vk.disabled:focus,.is-vk.is-vk[disabled]:focus,fieldset[disabled] .is-vk.is-vk:focus,.is-vk.is-vk.disabled.focus,.is-vk.is-vk[disabled].focus,fieldset[disabled] .is-vk.is-vk.focus{background-color:#587ea3;border-color:rgba(0,0,0,0.2)}
.is-vk.is-vk .badge{color:#587ea3;background-color:#fff}
.is-yahoo.is-yahoo{color:#fff;background-color:#720e9e;border-color:rgba(0,0,0,0.2)}.is-yahoo.is-yahoo:focus,.is-yahoo.is-yahoo.focus{color:#fff;background-color:#500a6f;border-color:rgba(0,0,0,0.2)}
.is-yahoo.is-yahoo:hover{color:#fff;background-color:#500a6f;border-color:rgba(0,0,0,0.2)}
.is-yahoo.is-yahoo:active,.is-yahoo.is-yahoo.active,.open>.dropdown-toggle.is-yahoo.is-yahoo{color:#fff;background-color:#500a6f;border-color:rgba(0,0,0,0.2)}.is-yahoo.is-yahoo:active:hover,.is-yahoo.is-yahoo.active:hover,.open>.dropdown-toggle.is-yahoo.is-yahoo:hover,.is-yahoo.is-yahoo:active:focus,.is-yahoo.is-yahoo.active:focus,.open>.dropdown-toggle.is-yahoo.is-yahoo:focus,.is-yahoo.is-yahoo:active.focus,.is-yahoo.is-yahoo.active.focus,.open>.dropdown-toggle.is-yahoo.is-yahoo.focus{color:#fff;background-color:#39074e;border-color:rgba(0,0,0,0.2)}
.is-yahoo.is-yahoo:active,.is-yahoo.is-yahoo.active,.open>.dropdown-toggle.is-yahoo.is-yahoo{background-image:none}
.is-yahoo.is-yahoo.disabled:hover,.is-yahoo.is-yahoo[disabled]:hover,fieldset[disabled] .is-yahoo.is-yahoo:hover,.is-yahoo.is-yahoo.disabled:focus,.is-yahoo.is-yahoo[disabled]:focus,fieldset[disabled] .is-yahoo.is-yahoo:focus,.is-yahoo.is-yahoo.disabled.focus,.is-yahoo.is-yahoo[disabled].focus,fieldset[disabled] .is-yahoo.is-yahoo.focus{background-color:#720e9e;border-color:rgba(0,0,0,0.2)}
.is-yahoo.is-yahoo .badge{color:#720e9e;background-color:#fff}
