<template lang="pug">
div
  section.hero.is-primary.is-bold
    div.hero-head
      wr-navbar
    div.hero-body
      div.container
        div.columns
          div.column.is-two-thirds
            h1.title
              | <em>WriteRite</em> is for learning with
              | flashcards and friends.
          aside.column.is-one-third
            wr-signin
  wr-footer
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import WrNavbar from '../components/WrNavbar.vue';
import WrFooter from '../components/WrFooter.vue';
import WrSignin from '../components/WrSignin.vue';

@Component({
  components: {
    WrNavbar,
    WrSignin,
    WrFooter,
  },
})
export default class HomeView extends Vue {}
</script>
