<template lang="pug">
div
  wr-navbar
  section.section
    div.container
      div.columns.is-centered
        div.column.is-one-third
          wr-signin
  wr-footer
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import WrNavbar from '../components/WrNavbar.vue';
import WrFooter from '../components/WrFooter.vue';
import WrSignin from '../components/WrSignin.vue';

@Component({
  components: {
    WrNavbar,
    WrSignin,
    WrFooter,
  },
})
export default class SigninView extends Vue {}
</script>
